@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#navAbout').closest('li').addClass('active');
        });
    </script>
}

<h1>About</h1>

<p>Welcome to the LINQ to LDAP MVC Example.  Here you'll see some different ways to tackle using LINQ to LDAP in a web environment.</p>

<p>Check the Global.asax to see configuration and /Scripts/app or /Controllers/API for code.</p>

<ul>
    <li><a href="http://linqtoldap.codeplex.com/" target="_blank">LINQ to LDAP</a></li>
    <li><a href="http://blog.stuartlewis.com/2008/07/07/test-ldap-service/" target="_blank">Test LDAP Server</a></li>
    <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
    <li><a href="http://www.malsup.com/jquery/block/" target="_blank">jQuery BlockUI</a></li>
    <li><a href="http://knockoutjs.com/" target="_blank">Knockout.js</a></li>
    <li><a href="http://fabien-d.github.io/alertify.js/" target="_blank">alertify.js</a></li>
    <li><a href="http://getbootstrap.com/2.3.2/" target="_blank">Bootstrap</a></li>
</ul>