@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#navAbout').closest('li').addClass('active');
        });
    </script>
}

<h1>About</h1>

<p>Welcome to the LINQ to LDAP MVC Example.  Here you'll see some different ways to tackle using LINQ to LDAP in a web environment.</p>

<p>Check the Global.asax to see configuration and the API controllers under Controllers/API for code.</p>