@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#navAbout').closest('li').addClass('active');
        });
    </script>
}

<h1>About</h1>

<p>Welcome to the LINQ to LDAP MVC Example.  Here you'll see some different ways to tackle using LINQ to LDAP in a web environment.</p>

<p>Check the Global.asax to see configuration and /Scripts/app or /Controllers/API for code.</p>

<ul>
    <li><a href="http://linqtoldap.codeplex.com/">LINQ to LDAP</a></li>
    <li><a href="http://blog.stuartlewis.com/2008/07/07/test-ldap-service/">Test LDAP Server</a></li>
    <li><a href="http://jquery.com/">jQuery</a></li>
    <li><a href="http://knockoutjs.com/">Knockout.js</a></li>
    <li><a href="http://fabien-d.github.io/alertify.js/">alertify.js</a></li>
    <li><a href="http://getbootstrap.com/2.3.2/">Bootstrap</a></li>
</ul>