@{
    ViewBag.Title = "ServerInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#navServerInfo').closest('li').addClass('active');
            var vm = new linqtoldap.viewModels.ServerInfoViewModel();
            //vm.load();
            ko.applyBindings(vm, $('#serverInfoView')[0]);
        });
    </script>
}

<h1>Server Info</h1>

<p>Here is a simple example of listing the server attributes. This will contain useful information about what the server can and cannot support.</p>
<br/><br/>
<table id="serverInfoView" class="table table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: serverSettings">
        <tr>
            <td data-bind="text: key"/>
            <td data-bind="text: value"/>
        </tr>
    </tbody>
</table>
