@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @*<script id="itemTempalte" type="text/html">        
        
    </script>*@
    <script id="listTemplate" type="text/html">
        
    </script>
    <script type="text/javascript">
        $(function () {
            $('#navUsers').closest('li').addClass('active');
            var vm = new linqtoldap.viewModels.UsersViewModel();
            $("#searchForm").keypress(function (e) {
                if (e.keyCode == 13) vm.search();
                return !(e.keyCode == 13);
            });
            
            ko.applyBindings(vm, $('#usersView')[0]);
        });
    </script>
}

<h1>Users</h1>
<p>Here is a simple example of performing a search against users. Code is in Scripts/app/usersViewModel.js and Controllers/API/UserController.</p>
<br/>
<div id="usersView">
    <div data-bind="visible: mode() === 'list'">
        <div class="row-fluid">
            <div>
                <form id="searchForm" class="form-search">
                    <label class="control-label" for="customFilter">Custom Filter</label>
                    <input id="customFilter" type="checkbox" data-bind="checked: isCustomFilter">
                    <input type="text" class="search-query" placeholder="Search" data-bind="value: query, valueUpdate:'afterkeydown'">
                    <a class="btn btn-primary btn-small" data-bind="click: search">Search</a>
                </form>
            </div>
        </div>
        <div class="row-fluid scrollable">
            <table class="table table-hover" data-bind="visible: !isSearching()">
                <thead>
                    <tr>
                        <th></th>
                        <th>Distinguished Name</th>
                        <th>User Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: items">
                    <tr>
                        <td><div class="text-center"><a class="btn btn-small" data-bind="click: load">View</a></div></td>
                        <td data-bind="text: distinguishedName"/>
                        <td data-bind="text: userId"/>
                        <td data-bind="text: name"/>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info" data-bind="visible: !isSearching() && items().length === 0">No entries found!</div>
        </div>
    </div>
    <form class="form-horizontal" data-bind="visible: mode() === 'item'">
        <div class="control-group">
            <label class="control-label" for="inputDistinguishedName">Distinguished Name</label>
            <div class="controls">
                <input type="text" id="inputDistinguishedName" placeholder="Distinguished Name" data-bind="value: item.distinguishedName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCommonName">Common Name</label>
            <div class="controls">
                <input type="text" id="inputCommonName" placeholder="Common Name" data-bind="value: item.commonName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUserId">User Id</label>
            <div class="controls">
                <input type="text" id="inputUserId" placeholder="User Id" data-bind="value: item.userId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First Name</label>
            <div class="controls">
                <input type="text" id="inputFirstName" placeholder="First Name" data-bind="value: item.firstName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last Name</label>
            <div class="controls">
                <input type="text" id="inputLastName" placeholder="Last Name" data-bind="value: item.lastName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTelephoneNumber">Telephone Number</label>
            <div class="controls">
                <input type="text" id="inputTelephoneNumber" placeholder="Telephone Number" data-bind="value: item.telephoneNumber">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-small" data-bind="click: showList">Back</a>
            </div>
        </div>
    </form>
</div>
